#gatherTitle{
    margin-top: 20px;
    width: 295px;
    height: 60px;
    background: url(../img/gatherTitleone.png);
}
#gatherTitleTwo{
    margin-top: 20px;
    width: 295px;
    height: 60px;
    background: url(../img/gatherTitleTwo.png);
}
#gatherShilder{
    margin-top: 20px;
}
.tet{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    height: 780px;
    display: inline-block;
    font-size: 0;
    letter-spacing: 0;
    overflow: hidden;
}
.tet .slide{
    width: 10%;
    height: 780px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}
.tet .slide div{
    filter: blur(5px);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 780px;
    display: inline-block;
    overflow: hidden;
}
.tet .slide div img{
    width: 770px;
    height: 780px;
}
#list{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px rgba(43, 43, 43, 0.3);
    margin-top: 20px;
    width: 100%;
}
#list .listTitle{
    background: #ececec;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    width: 285px;
    height: 300px;
}
#list .listTitle:hover{
    cursor: pointer;
}
#list .listTitle div{
    position: absolute;
    display: inline-block;
    width: 285px;
    height: 250px;
    background: #8f1313;
    background: url(../img/5.jpg) no-repeat;
    background-size: cover;
}
#list .listTitle p{
    position: absolute;
    display: inline-block;
    width: 285px;
    margin-top: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
}
#list .pointTitle{
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 50px;
}
#list .pointTitle div{
    display: inline-block;
    width: 500px;
    height: 50px;
}
#list .pointTitle span{
    display: inline-block;
    line-height: 50px;
    margin: 0px 10px 0px 10px;
}
#list .pointTitle span:hover{
    color: #8f1313;
    cursor: pointer;
}
.coverInfo {
    position: absolute;
    top: -18px;
    width: 100%;
    height: 20px;
    overflow: hidden;
}
#itemInCovers{
    position: absolute;
    list-style: none;
    -webkit-animation-name: goList;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-name: goList;
    animation-delay: 0.2s;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    left: 100px;
}
@-webkit-keyframes goList{
    0%{
        left:0px
    }
    100%{
        left:1200px
    }
}
@keyframes goList{
    0%{
        left:0px
    }
    100%{
        left:1200px
    }
}